<div class="me-container">
	<section class="me-section">
		<img src={{me.image.src}} alt={{me.image.alt}} title={{me.image.tooltip}}>
		<button name="message-button" type="button">Message</button>
		<button name="edit-profile-button" type="button">Edit profile</button>
		<button name="more-button" type="button">More</button>
	</section>
	<h3>{{me.name}}</h3>
	<p>Status
		{{me.status}}
	</p>
	<p>Display name
		{{me.displayName}}
	</p>
</div>